{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "react-hot-loader/babel",
    ["transform-class-properties", { "loose": true }]
  ]
}
