* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #eaeaea;
}

.gif_loading_item{
  width: 96px;
  height: 96px;
}

.box{
  max-width: 100%;
  margin: 0 5px 10px 5px;
  background: rgb(255,255,255);
}

.box_margin{
  width: 90%;
  margin: 0 auto;
}

.box_title{
  font-family: 'Helvetica';
  padding: 10px 0;
  border-bottom: 1px solid rgb(240,240,240)
}

.box_body{
  padding: 10px 0 ;
  background-color: rgb(249,249,250);
}

.Loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PokemonPage{
  max-width: 1080px;
  margin: auto;
  display: flex;
}

.PokemonPage_left{
  width: 50%;
}

.PokemonPage_rigth{
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Filter_name{
  background: #eaeaea;
  border: none;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px; 
  color: gray;
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}

.List_load_pokemon{
  display: flex;
  height: 100%;
}

.List_load_pokemon input{
  background: #eaeaea;
  border: none;
  width: 80%;
  height: 42px;
  margin: 0 auto;
  padding: 10px 10px; 
  color: gray;
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}

.List_load_pokemon button{
  width: 20%;
  height: 42px; 
  margin: auto 0 ;
  padding: 10px 10px;
  display: block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(228,124,124);
  color: white;
  border: none;
  cursor: pointer;
}

.List_load_pokemon button:hover{
  background-color: rgb(228, 91, 91);
}

.List_pokemons{
  background-color: rgb(249,249,250);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.List_load_button{
  border: none;
  background-color: rgb(228,124,124);
  color: white;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.List_load_button:hover{
  background-color: rgb(228, 91, 91);
}

.PokemonCard{
  /* border: 1px solid rgb(184, 184, 184);
  background: rgb(230, 230, 230);
  min-width: 150px; */
  /* align-items: center; */
  display: flex;
  flex-direction : column;
  margin: 5px;
}

.PokemonCard:hover{
  background: #e6ecff;
  cursor: pointer;
}

.PokemonCard_avatar{
  max-width: 96px;
  max-height: 96px;
  border: 1px solid rgb(216, 216, 216);
}

.PokemonCard_name{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.PokemonStats_container div{
  text-align: center;
  font-size: 20px;
}

.PokemonStats_container ul {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid rgb(230, 230, 230)
}

.PokemonStats_container ul:last-child {
  border-bottom: none
}

.PokemonStats_container ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  padding: 5px 30px;
}

.BasicInfo_container{
  display: flex;
  flex-direction: column;
  
}

.BasicInfo_container p {
  font-size: 14px;
}

.BasicInfo_box01{
  display: flex;
  justify-content: space-between;
}

.BasicInfo_box01 div{
  min-width: 50%;
}

.BasicInfo_name{
  display: flex;
  flex-direction: row;
}

.BasicInfo_name h2{
  font-size: 16px;
}

.BasicInfo_name h3{
  font-size: 13px;
  color: gray;
}

.BasicInfo_stat_table tr td{
  font-size: 15px;
}

.BasicInfo_stat_table tr td:first-child{
  font-weight: bold;
  padding: 5px 30px;
}

.Apperance_container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.Apperance_item{
  flex-grow: 1;
  max-width: 25%;
}

.Apperance_item div{
  width: 80%;
  margin: 0 auto;
}

.Apperance_item p{
  margin: 0;
  min-height: 40px;
  word-wrap: break-word;
  font-size: 13px;
  color: gray; 
}

.EvolutionChain_container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content:space-evenly;
}

.EvolutionChain_notfound{
  align-content: center;
  text-align: center;
}

.EvolutionChain_item{
  flex-grow: 1;
  max-width: 25%;
}

.EvolutionChain_item:hover{
  cursor: pointer;
}

.EvolutionChain_item div{
  width: 80%;
  margin: 0 auto;
}

.EvolutionChain_item p{
  margin: 0;
  min-height: 40px;
  word-wrap: break-word;
  font-size: 13px;
  color: gray; 
}

.Ability_container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
}

.Ability_item {
  font-size: 14px;
}

.Ability_item strong{
  text-align: right;
  width: 100%;
}
