.PokemonCard{
    max-height: 114px;
    display: flex;
    flex-direction : column;
    margin: 5px;
  }
  
  .PokemonCard:hover{
    background: #e6ecff;
    cursor: pointer;
  }
  
  .PokemonCard_avatar{
    max-width: 96px;
    max-height: 96px;
    border: 1px solid rgb(216, 216, 216);
  }
  
  .PokemonCard_name{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }