.List_load{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }
  
  .List_load_pokemon{
    display: flex;
    height: 100%;
  }
  
  .List_load_pokemon input{
    background: #eaeaea;
    border: none;
    width: 80%;
    height: 42px;
    margin: 0 auto;
    padding: 10px 10px; 
    color: gray;
    display: block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
  }
  
  .List_load_pokemon button{
    width: 20%;
    height: 42px; 
    margin: auto 0 ;
    padding: 10px 10px;
    display: block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(228,124,124);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .List_load_pokemon button:hover{
    background-color: rgb(228, 91, 91);
  }
  
  .List{
    max-height: calc(100vh - 39px - 62px );
    overflow-y: scroll;
    background-color: rgb(249,249,250);
  }
  
  .List_pokemons{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .List_load_button{
    border: none;
    background-color: rgb(228,124,124);
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .List_load_button:hover{
    background-color: rgb(228, 91, 91);
  }